{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="text-center ">
                <h1 class="display-5 fw-bold">About</h1>
            </div>
        </div>
        <div class="shadow-lg p-5 mb-5 bg-white rounded w-75" id="customBox2" style="height: 300px;">
            <p class="text-dark">This is a customizable text box. You can add any content here.</p>
        </div>
        </div>


            </div>
        </div>
    </div>
</div>


{% endblock content %}