{% extends 'base.html' %}
{% load static %}
{% block content %}

	<!-- Hero Section -->
	<div class="container mt-5">
		<div class="row align-items-center">
			<div class="col-md-6">
                <h1 class="display-3 fw-bold">Rolsa Technologies</h1> <!--Large Heading-->
				<p class="lead">Leading green technology to the new world</p>
			</div>
			<div class="shadow-lg p-3 mb-5 bg-white rounded text-black w-50" id="customBox"> <!-- adds shadow effect to box -->
				<div class="hero-image p-4">
					<p class="mb-4">Would you like to track your carbon footprint?</p>
					<p>This state-of-the-art tool can allow you to view how much carbon energy you are contributing to the atmosphere and how beneficial it can be to reduce this.</p>
					<button class="btn btn-dark">Check it out</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Middle Section -->
	<div class="container mt-5">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="image"></div>
			</div>
			<div class="col-md-6">
				<h2>What do we have to offer?</h2>
				<p>Lorem ipsum dolor sit amet. Non minus aspernatur qui blanditiis facere non earum voluptas. Eum quia dolorem cum expedita corporis cum omnis officiis nam recusandae quod est ducimus officiis et corrupti nulla ut natus odio. Id laborum exercitationem eos laborum consectetur ad voluptate veritatis.</p>
			</div>
		</div>
	</div>

	<!-- Bottom Section -->
<div class="container mt-5">
    <h2>Products</h2>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="home"></div> <!-- home.jpg -->
            <p class="mt-2 text-center">Home Energy Solutions</p>
        </div>
        <div class="col-md-4">    
            <div class="charging"></div> <!-- charging.jpg -->
            <p class="mt-2 text-center"> Electric vehicle (EV) charging stations</p>
        </div>
        <div class="col-md-4">
            <div class="solar-panel"></div> <!-- solarpanel.jpg -->
            <p class="mt-2 text-center">Solar Panels</p>
        </div>
    </div>
</div>
{% endblock content %}