{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="text-center mb-4">
                <h1 class="h3 fw-bold">Signup</h1>
            </div>
            <div class="shadow p-5 bg-white rounded text-black" id="customBox2">
                <form method="post" class="text-black">
                  {% if messages %}
                  {% for message in messages %}
                    <p style="color: red;" class="w-100 text-center">{{ message }}</p>
                  {% endfor %}
                  {% endif %}

                    {% csrf_token %}
                    {{ form.as_p|safe }}
                    <button type="submit" class="btn btn-dark btn-block mb-3 w-100" style="font-size: 1rem;">Signup</button>
                </form>
            </div>
        </div>
    </div>
</div>




{% endblock content %}